<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<% if @user.admin %>
  <p><strong>ADMIN</strong></p>
<% end %>
<% if logged_in? %>
  <%= @user.name%>
  <%= @user.nausea%>
  Mood: <%= @user.mood %>
  <%= @user.happiness%>
  Tickets:<%= @user.tickets%>
  <%= @user.height%>
<% else %>
<% require_logged_in %>
<% end %>
<p><%= link_to 'Edit', edit_user_path(@user) %></p>
 <p><%= link_to 'See attractions', attractions_path %></p>
